#page-course-view-topics {
    .section .activity .contentwithoutlink > a,
    .section .activity .activityinstance > a {
        display: initial;
    }

    .course-content {
        .topics {
            #section-0 {
                border: none;
            }

            .section {
                border: none;

                .progress {
                    height: 20px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    background-color: $body-bg;
                    margin-left: 12px;
                    width: inherit;

                    .progress-bar {
                        float: left;
                        width: 0;
                        height: 100%;
                        font-size: 12px;
                        line-height: 20px;
                        color: #fff;
                        text-align: center;
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}