/*
* @Author: Eduardo Camarillo
* @Date:   2018-03-02 21:45:03
* @Last Modified by:   odraude
* @Last Modified time: 2018-04-17 16:33:27
*/

// Post SCSS for the theme.

body.pagelayout-login {
    background-image: url([[pix:theme_photo|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_photo|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_photo|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_photo|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_photo|defaultbackgroundimage]]);
    background-size: cover;
    font-family: $font-family-roboto;
    background-color: #FFF !important;
}

.paragraph-title {
    font-family: $font-family-roboto-light;
}
.paragraph {
    font-family: $font-family-roboto;
    font-size: 16px;
}
.paragraph-bold {
    font-family: $font-family-roboto;
    font-size: 18px;
}
.paragraph-light {
    font-family: $font-family-roboto-light;
    font-size: 16px;
}
.highlight-green {
    font-family: $font-family-roboto-bold;
    color: $brand-success;
}
.highlight-orange {
    font-family: $font-family-roboto-bold;
    color: $brand-danger;
}

// Overwrite bootstrap breadcrumb separator
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

// Overwrite bootstrap border radius navbar
.navbar {
    max-height: 75px !important;
    border-radius: 0 !important;
}

#page {
    margin-top: 108px !important;
}

// nav drawer
[data-region="drawer"] {
    top: 108px;
    height: calc(100% - 108px);
    background-color: #ebebeb;
}

.page-context-header .page-header-image, .page-context-header .page-header-headings {
    float: none;
}