/*
* @Author: Eduardo Camarillo
* @Date:   2018-03-02 21:45:03
* @Last Modified by:   Eduardo Camarillo
* @Last Modified time: 2018-05-22 13:29:25
*/

// Post SCSS for the theme.

body.pagelayout-login {
    background-image: url([[pix:theme_mieva|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_mieva|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_mieva|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_mieva|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_mieva|defaultbackgroundimage]]);
    background-size: cover;
    font-family: $font-family-roboto !important;
    background-color: #FFF !important;
}

.paragraph-title {
    font-family: $font-family-roboto-light;
}
.paragraph {
    font-family: $font-family-roboto;
    font-size: 16px !important;
}
.paragraph-bold {
    font-family: $font-family-roboto;
    font-size: 18px !important;
}
.paragraph-light {
    font-family: $font-family-roboto-light;
    font-size: 16px !important;
}
.paragraph-medium {
    font-family: $font-family-roboto-medium;
    font-size: 16px !important;
}
.paragraph-thin {
    font-family: $font-family-roboto-thin;
    font-size: 16px !important;
}
.paragraph-medium-eval {
    font-family: $font-family-roboto-medium;
    font-size: 24px !important;
}
.highlight-blue {
    font-family: $font-family-roboto-bold;
    color: $color-blue !important;
}
.highlight-green {
    font-family: $font-family-roboto-bold;
    color: $color-green !important;
}
.highlight-orange {
    font-family: $font-family-roboto-bold;
    color: $color-orange !important;
}
.highlight-orange-eval {
    font-family: $font-family-roboto-medium;
    color: $color-orange !important;
}
.bg-blue {
    background-color: $color-blue !important;
}
.bg-green {
    background-color: $color-green !important;
}
.bg-orange {
    background-color: $color-orange !important;
}
.text-blue {
    color: $color-blue !important;
}
.text-green {
    color: $color-green !important;
}
.text-orange {
    color: $color-orange !important;
}

// MiEVA's Buttons
@mixin button-bg($bg) {
  color: $color-white;
  background: $bg;
  border-color: darken($bg,8%);
  &:hover {
    color: $color-white;
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    color: $color-white;
    background:darken($bg,15%);
  }
  &:visited {
    color: $color-white;
  }
}
.btn-green {
   @include button-bg($color-green);
}
.btn-blue {
   @include button-bg($color-blue);
}
.btn-orange {
   @include button-bg($color-orange);
}

// Overwrite bootstrap breadcrumb separator
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

// Overwrite bootstrap border radius navbar
.navbar {
    max-height: 75px !important;
    border-radius: 0 !important;
}

#page {
    margin-top: 113px !important;
}

// nav drawer
[data-region="drawer"] {
    top: 108px;
    height: calc(100% - 108px);
    background-color: #ebebeb;
}

.page-context-header .page-header-image, .page-context-header .page-header-headings {
    float: none;
    padding-top: 0.7em;
}

// Login border
@media screen and (min-width: map-get($grid-breakpoints, md)) {
    .border-right {
        border-right: 0.2em inset gray;
    }
}
