/*
* @Author: Eduardo Camarillo
* @Date:   2018-03-02 21:45:35
* @Last Modified by:   odraude
* @Last Modified time: 2018-04-04 22:24:43
*/

// Pre SCSS for the theme.

// Google Fonts
@font-face {
	font-family: 'Roboto';
	src: url([[font:theme|Roboto-Regular.ttf]]) format('truetype');
}

// Font variables
$font-family-roboto: 'Roboto', sans-serif;

// Bg color variables
.bg-mieva-navbar {
    color: #000 !important;
    background-color: #ebebeb !important;
}

$card-bg: rgba(255, 255, 255, 0.98);

// Footer
$padding-footer: 15px 80px;

@media (min-width: 1025px) {
    .addr-footer, .policy-footer {
        padding: $padding-footer;
    }
}

.addr-footer, .policy-footer, .help-footer {
	color: white;
    div {
        color: white;
        a {
            color: white;
            &:visited, &:link, &:hover, &:active {
                                text-decoration: underline;
            }
        }
    }
}

.addr-footer {
    background-color:#9D9D9D;
}

.policy-footer {
    background-color:#898989;
}

.help-footer {
    background-color:#3B3B3B;
}

.footer {
    margin-top: 1.5rem;
    border-top: 8px solid #7398E2;
}

// Navbar
.navbar-moodle {
    color: #2C4F9A !important;
    background-color: #EBEBEB !important;
    min-height: 54px;
    top: 54px !important;
    z-index: 1029 !important;
}

.navbar-sep {
    color: white !important;
    background-color: #3B3B3B !important;
    min-height: 54px;
}

.navbar-sep div div span .dropdowntn .dropdowntn-content {
    background-color: #3b3b3b;
}

.navbar-moodle div div span .dropdowntn .dropdowntn-content {
    background-color: #ebebeb;
}