{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mieva/footer

    Moodle footer template.

    The purpose of this template is to render footer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * footaddr Fotter address contents.
    * footpolicy Footer policies contents.
    * foothelp Footer help contents

    Example context (json):
    {
        "col1content": "<div class='alert alert-info'>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor vulputate turpis, quis tempor arcu.</div>",
        "col2content": "<div class='alert alert-success'>2. Vivamus ac orci in velit fringilla aliquam a a nisl. Cras luctus quam laoreet magna pulvinar aliquet.</div>"
    }

}}

<footer class="footer">
    <div class="container-fluid">
        <div class="addr-footer row text-xs-center">
            <div class="container">
                <div class="col-md-12">
                    <p class="text-md-center">Subsecretaría de Educación Media Superior, Dirección General del Bachillerato</p>
                    <p class="text-md-center">Dirección de Sistemas Abiertos, Preparatoria Abierta</p>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2 text-md-right"><i class="fa fa-map-marker fa-4x" aria-hidden="true"></i></div>
                        <div class="col-md-10 text-md-left"><p>Eje 8 Sur José María Rico 221, Delegación Benito Juárez, Colonia Del Valle, 03100, Ciudad de México, México.</p></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 text-md-right"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></div>
                        <div class="col-md-9 text-md-left"><p>Correo electrónico: <br><a href="mailto:admin.prepa@dgb.email?Subject=Contacto Mi EVA">evaprepaabierta@dgb.sems.gob.mx</a></p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="policy-footer row text-xs-center">
            <div class="container">
                <div class="col-md-12">
                    <p class="text-md-center">El acceso a determinados contenidos es exclusivo para los estudiantes de Preparatoria Abierta.</p>
                </div>
                <div class="col-md-12 text-md-center">
                    <p><a href="#">Mapa de sitio</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Políticas de privacidad</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Créditos</a></p>
                </div>
                <div class="col-sm-12 text-md-center">
                    <nav class="nav navbar-nav hidden-lg-up">
                        {{# output.custom_menu_flat }}
                            <ul class="list-unstyled p-t-1">
                                {{> theme_boost/custom_menu_footer }}
                            </ul>
                        {{/ output.custom_menu_flat }}
                    </nav>
                    {{{! output.standard_footer_html }}}
                    <div id="course-footer">{{{ output.course_footer }}}</div>
                    <div class="tool_usertours-resettourcontainer"></div>
                </div>
            </div>
        </div>

        <div class="help-footer row text-xs-center">
            <div class="container">
                <div class="col-md-4 text-md-left">
                    <img src="{{{logo_sep}}}">
                </div>
                <div class="col-md-8">
                    <p class="text-md-right">
                        <br>
                        <a href="#">Preguntas frecuentes</a> &nbsp;&nbsp;&nbsp; <a href="#">Ayuda</a> <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>