{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<div class="topnav navbar-sep" id="myTopnav">
    <div class="container">
        <a class="brand" href="#">
            <img src="{{{logo_sep}}}">
        </a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="toggleFunction(this)"><i class="fa fa-bars" aria-hidden="true"></i></a>
        
        <div class="topnav-links float-right">
            <span>
                <a class="underline" href="#news"><i class="fa fa-sign-in" aria-hidden="true"></i> Solicita tu cuenta institucional</a>
            </span>
            <span class="hidden-sm-down hidden-md-down">
                <a>|</a>
            </span>
            <span>
                <a class="underline" href="#contact">Recuperar contraseña</a>
            </span>
        </div>

    </div>
</div>