{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<div class="topnav navbar-sep" id="myTopnav">
    <div class="container">
        <a class="brand" href="#">
            <img src="{{{logo_sep}}}">
        </a>
        
        <div class="float-right">
            <span>
                <a href="#contact">Inicio</a>
            </span>
            <span>
                <div class="dropdowntn">
                    <button class="dropbtn"><i class="fa fa-angle-down"></i>
                        Preparatoria Abierta
                    </button>
                    <div class="dropdowntn-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
            </span>
            <span>
                <a href="#news">Módulos de aprendizaje</a>
            </span>
            <span>
                <a href="#home">Asignaturas</a>
            </span>
            <span>
                <div class="dropdowntn">
                    <button class="dropbtn"><i class="fa fa-angle-down"></i>
                        Contacto
                    </button>
                    <div class="dropdowntn-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
            </span>
        </div>

        <a href="javascript:void(0);" class="icon" onclick="toggleFunction(this)"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
</div>

