{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_mieva/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">
	<div class="topnav navbar-sep" id="myTopnav">
	    <div class="container">
	        <a class="brand" href="#">
	        	<img src="{{{logo_sep}}}">
	        </a>
	        
	        <div class="float-right">
		        <span>
		            <a class="underline" href="#news"><i class="fa fa-sign-in" aria-hidden="true"></i> Solicita tu cuenta institucional</a>
		        </span>
		        <span class="hidden-sm-down">
		            <a>|</a>
		        </span>
		        <span>
		            <a class="underline" href="#contact">Recuperar contraseña</a>
		        </span>
	        </div>

	        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="toggleFunction(this)"><i class="fa fa-bars" aria-hidden="true"></i></a>
	    </div>
	</div>
	<div class="topnav navbar-moodle" id="myTopnav2">
	    <div class="container">
			<a class="brand" href="#">
	        	<img src="{{{logos_prepabier}}}">
	        </a>
	        
	        <div class="float-right">
		        <span>
		            <a href="#contact">Inicio</a>
		        </span>
		        <span>
		            <div class="dropdowntn">
		                <button class="dropbtn"><i class="fa fa-angle-down"></i>
		                    Preparatoria Abierta
		                </button>
		                <div class="dropdowntn-content">
		                  <a href="#">Link 1</a>
		                  <a href="#">Link 2</a>
		                  <a href="#">Link 3</a>
		                </div>
		            </div>
		        </span>
		        <span>
		            <a href="#news">Módulos de aprendizaje</a>
		        </span>
		        <span>
		            <a href="#home">Asignaturas</a>
		        </span>
		        <span>
		            <div class="dropdowntn">
		                <button class="dropbtn"><i class="fa fa-angle-down"></i>
		                    Contacto
		                </button>
		                <div class="dropdowntn-content">
		                  <a href="#">Link 1</a>
		                  <a href="#">Link 2</a>
		                  <a href="#">Link 3</a>
		                </div>
		            </div>
		        </span>
	        </div>
	        
	        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleFunction(this)"><i class="fa fa-bars" aria-hidden="true"></i></a>
	    </div>
	</div>

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid m-t-1">

        <div class="container">
            <!-- Breadcrumbs -->
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb" aria-label="breadcrumb">
                        <a class="breadcrumb-item" href="#">Inicio</a>
                        <a class="breadcrumb-item" href="#">Módulos de aprendizaje</a>
                        <span class="breadcrumb-item active" aria-current="page">Inicio de sesión</span>
                    </nav>
                </div>   
            </div>
            
            <!-- Header -->
            <div class="row">
                <div class="col-md-6 push-md-3 text-md-center">
                    <h1>{{{fullsitename}}}</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div id="page-content" class="row">
            <div id="region-main-box">
                <section id="region-main" class="col-xs-12">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="addr-footer row text-xs-center">
            <div class="container">
                <div class="col-md-12">
                    <p class="text-md-center">Subsecretaría de Educación Media Superior, Dirección General del Bachillerato</p>
                    <p class="text-md-center">Dirección de Sistemas Abiertos, Preparatoria Abierta</p>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2 text-md-right"><i class="fa fa-map-marker fa-4x" aria-hidden="true"></i></div>
                        <div class="col-md-10 text-md-left"><p>Eje 8 Sur José María Rico 221, Delegación Benito Juárez, Colonia Del Valle, 03100, Ciudad de México, México.</p></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 text-md-right"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></div>
                        <div class="col-md-9 text-md-left"><p>Correo electrónico: <br><a href="mailto:admin.prepa@dgb.email?Subject=Contacto Mi EVA">evaprepaabierta@dgb.sems.gob.mx</a></p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="policy-footer row text-xs-center">
            <div class="container">
                <div class="col-md-12">
                    <p class="text-md-center">El acceso a determinados contenidos es exclusivo para los estudiantes de Preparatoria Abierta.</p>
                </div>
                <div class="col-md-12 text-md-center">
                    <p><a href="#">Mapa de sitio</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Políticas de privacidad</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Créditos</a></p>
                </div>
                <div class="col-sm-12 text-md-center">
                    <nav class="nav navbar-nav hidden-lg-up">
                        {{# output.custom_menu_flat }}
                            <ul class="list-unstyled p-t-1">
                                {{> theme_boost/custom_menu_footer }}
                            </ul>
                        {{/ output.custom_menu_flat }}
                    </nav>
                    {{{! output.standard_footer_html }}}
                    <div id="course-footer">{{{ output.course_footer }}}</div>
                    <div class="tool_usertours-resettourcontainer"></div>
                </div>
            </div>
        </div>

        <div class="help-footer row text-xs-center">
            <div class="container">
                <div class="col-md-4 text-md-left">
                    <img src="{{{logo_sep}}}">
                </div>
                <div class="col-md-8">
                    <p class="text-md-right">
                        <br>
                        <a href="#">Preguntas frecuentes</a> &nbsp;&nbsp;&nbsp; <a href="#">Ayuda</a> <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">function toggleFunction(e) { var x = e.parentNode.parentNode; if (! x.className.includes("responsive")){ x.className += " responsive"; } else { res = x.className.split(" "); x.className = res[0] + " " + res[1]; } }</script>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_mieva/loader']);
require(['theme_mieva/topnav']);
{{/js}}